[data-ember-action] {
  cursor: pointer;
}

.carousel-image {
  min-height:300px;
  background-repeat: no-repeat;
  background-size: 100%;
  position:relative;
  margin-bottom:50px;
}

.carousel-tag {
  position:absolute;
  bottom:12px;
  /*background: #484848;*/
  background: linear-gradient(to right, rgba(0,0,0,0.0), rgba(0,0,0,0.1), rgba(0,0,0,0.8), rgba(0,0,0,0.1), rgba(0,0,0,0.0));
  /*opacity:0.7;*/
  width:100%;
  text-align: center;
  padding:10px;
  color:white;
}

div.arrow {
  height: 100%;
  font-size: 4em;
  /*background: rgba(0,0,0,0.5);*/
  color: white;
  background: linear-gradient(to top, rgba(0,0,0,0.0), rgba(0,0,0,0.1), rgba(0,0,0,0.8), rgba(0,0,0,0.1), rgba(0,0,0,0.0));
}

div.arrow p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 4px;
}

div#leftArrow {
  position: absolute;
  top: 0px;
  left: 0px;
}

div#rightArrow {
  position: absolute;
  right: 0px;
}

ul#right-nav {
  position: absolute;
  right:200px;
}

.news-item {
  min-height: 350px;
  margin-bottom: 50px;
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
}

.image-container {
  height: 300px;
}

.image-container img {
  width:100%;
}

.social {
  padding-top:9px;
  z-index:2;
  position:fixed
}

.social li img {
  width: 32px;
}

.social li {
  padding-left: 20px;
  padding-bottom: 10px;
}

.socialPanel {
  top:30px;
  right:125px;
  padding:25px;
  background:blue;
  background: #F8F8F8;
}

nav.fixed-top {
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 80%;
}

div.outlet {
  margin-top: 80px;
}
