[data-ember-action] {
  cursor: pointer;
}

.news-item {
  min-height: 350px;
  margin-bottom: 50px;
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
}

.image-container {
  height: 300px;
}

.image-container img {
  width:100%;
}
