<div class="container">
  <div class="row">
    <nav class="fixed-top navbar navbar-default" role="navigation">
      <ul class="nav navbar-nav">
        <li><a href="#">Bustle</a></li>
        <li><a href="#">NEWS</a></li>
        <li><a href="#">ENTERTAINMENT</a></li>
        <li>
          <div class="social" {{action "hideSocial" on="mouseLeave"}}>
            <ul class="list-unstyled list-inline" {{action "showSocial" on="mouseEnter"}}>
              <li>Twitter</li>
              <li>Facebook</li>
              <li>Pintrest</li>
            </ul>
            {{#if showingSocialPanel}}
              <div class="socialPanel">
                <ul class="list-unstyled list-inline">
                  <li>Retweet</li>
                  <li>Like</li>
                  <li>Pin</li>
                </ul>
              </div>
            {{/if}}
          </div>
        </li>
      </ul>
    </nav>

  </div>
  <div class="outlet">
    {{outlet}}
  </div>
</div>
