<div class="container">
  <div class="row">
    <nav class="fixed-top navbar navbar-default" role="navigation">
      <ul class="nav navbar-nav logo">
        <li><a href="#">Bustle</a></li>
      </ul>
      <ul id="right-nav" class="nav navbar-nav">
        <li><a href="#">NEWS</a></li>
        <li><a href="#">ENTERTAINMENT</a></li>
        <li>
          <div class="social" {{action "hideSocial" on="mouseLeave"}}>
            <ul id="social-icons" class="list-unstyled list-inline" {{action "showSocial" on="mouseEnter"}}>
              <li><img src="../images/twitter.png" alt="" /></li>
              <li><img src="../images/facebook.png" alt="" /></li>
              <li><img src="../images/pinterest.png" alt="" /></li>
            </ul>

            {{#if showingSocialPanel}}
              <div class="socialPanel">
                <ul class="list-unstyled list-inline">
                  <li>Retweet</li>
                  <li>Like</li>
                  <li>Pin</li>
                </ul>
              </div>
            {{/if}}
          </div>
        </li>
      </ul>
    </nav>
  </div>
  <i class="icon-facebook"></i>
  <div class="outlet">
    {{outlet}}
  </div>
</div>
