<div class="carousel-image" style="background-image:url('../images/fries.jpg')">
  <div id="leftArrow" class="arrow"><p>{{#link-to "applewatchcarousel"}}&lt;{{/link-to}}</p></div>
  <h4 class="carousel-tag">Fries</h4>
  <div id="rightArrow" class="arrow"><p>{{#link-to "gotcarousel"}}&gt;{{/link-to}}</p></div>
</div>
