<div class="carousel-image" style="background-image:url('../images/game-of-thrones.jpg')">
  <div id="leftArrow" class="arrow"><p>{{#link-to "friescarousel"}}&lt;{{/link-to}}</p></div>
  <h4 class="carousel-tag">Game of Thrones</h4>
  <div id="rightArrow" class="arrow"><p>{{#link-to "starbuckscarousel"}}&gt;{{/link-to}}</p></div>
</div>
