<div class="row">
  <div class="news-item col-md-4 col-md-offset-1">
    <div class="image-container">
      <img src="../images/starbucks.jpg" alt="" />
    </div>
    <h4>{{#link-to "starbucks"}} 6 New Starbucks Frapp Flavors Are Here {{/link-to}}</h4>
  </div>
  <div class="news-item col-md-4 col-md-offset-1">
    <div class="image-container">
      <img src="../images/game-of-thrones.jpg" alt="" />
    </div>
    <h4>{{#link-to "GOT"}} WWDC Brings Big News About The Apple Watch {{/link-to}}</h4>
  </div>
</div>

<div class="row">
  <div class="news-item col-md-4 col-md-offset-1">
    <div class="image-container">
      <img src="../images/fries.jpg" alt="" />
    </div>
    <h4>{{#link-to "fries"}} Arya Proves She Can't Let Go Of The Past {{/link-to}}</h4>
  </div>
  <div class="news-item col-md-4 col-md-offset-1">
    <div class="image-container">
      <img src="../images/apple-watch.jpg" alt="" />
    </div>
    <h4>{{#link-to "apple-watch"}} People Who Eat This Might Be More Emotional {{/link-to}}</h4>
  </div>
</div>
