<div class="row">
  <div class="carousel col-md-6 col-md-offset-3">
    <div {{action "hideArrows" on="mouseLeave"}}>
      <div {{action "showArrows" on="mouseEnter"}}>
        {{outlet}}
      </div>
    </div>
  </div>
  <!-- <div class="news-item col-md-4 col-md-offset-1">
    <div class="carousel-image">
      <h4 class="carousel-tag">Arya Proves She Can't Let Go Of The Past</h4>
    </div>
  </div> -->
</div>

<div class="row">
  <div class="news-item col-md-4 col-md-offset-1">
    <div class="image-container">
      <img src="../images/starbucks.jpg" alt="" />
    </div>
    <h4>{{#link-to "starbucks"}} 6 New Starbucks Frapp Flavors Are Here {{/link-to}}</h4>
  </div>
  <div class="news-item col-md-4 col-md-offset-2">
    <div class="image-container">
      <img src="../images/game-of-thrones.jpg" alt="" />
    </div>
    <h4>{{#link-to "GOT"}} Arya Proves She Can't Let Go Of The Past {{/link-to}}</h4>
  </div>
</div>

<div class="row">
  <div class="news-item col-md-4 col-md-offset-1">
    <div class="image-container">
      <img src="../images/fries.jpg" alt="" />
    </div>
    <h4>{{#link-to "fries"}} People Who Eat This Might Be More Emotional {{/link-to}}</h4>
  </div>
  <div class="news-item col-md-4 col-md-offset-2">
    <div class="image-container">
      <img src="../images/apple-watch.jpg" alt="" />
    </div>
    <h4>{{#link-to "apple-watch"}} WWDC Brings Big News About The Apple Watch {{/link-to}}</h4>
  </div>
</div>
